@import url(https://fonts.googleapis.com/css?family=Lato:400);

/* Some reset */
@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td ui-widget {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus { outline: 0;}
a:link, a:visited, a:active{text-decoration:none; color: #21b3b4}
table {	border-collapse: separate;border-spacing: 0; width: 100%;}
th, td {text-align: left; font-weight: normal;}
tr{line-height: 30px;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit;}
*, *:after, *::before{box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

/* Main */
body {
  font-family: Lato;
  background: #444B54;
  padding: 15px;
  overflow:hidden;
}

.trigger {
  font-size: 20px;
  background: #F04903;
  color: white;
  width: 300px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
}

p{
  padding: 15px;
  font-size: 20px;
  text-align: justify;
}

.iziModal .iziModal-header-title , .iziModal-header-subtitle {
    font-family: Lato;
    font-weight: 100;
    font-size: 25px;
}

html {
	height: 100%;
	font-size: 16px;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
}

/* TYPOGRAPHY */

body {
	font-family: "Proxima Nova", helvetica, arial, sans-serif;
	font-weight: 400;
	line-height: 1.45;
	color: #333;
}

p {
	margin-bottom: 1.3em;
	margin-top: 0;
}

h1, h2, h3, h4 {
	font-family: "Museo Slab", serif;
	font-weight: inherit;
	line-height: 1.2;
}

h1, .h1 {
    margin-top: 0;
	font-size: 1.602em;
}

h2, .h2 {font-size: 1.424em;}

h3, .h3 {font-size: 1.266em;}

h4, .h4 {font-size: 1.125em;}

small, .small {font-size: 0.889em;}

button {
	margin: 0;

	font-size: 0.8em;
	font-family: inherit;
	text-align: center;

	appearance: none;
	background-color: transparent;
	border: none;
	color: inherit;

	cursor: pointer;
}

/* MAP */
.viewport {
  	position: relative;
    height: calc(100% - 5.3rem);
}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* MASTHEAD */
.masthead {
	box-sizing: border-box;
	height: 6.5rem;
	padding: 0.2rem;
	overflow: hidden;
	background: linear-gradient(#F0F0F0 0%,  #F0F0F0 50%,  #FAFAFA 50%,  #FAFAFA 100%);
	background-image: url(https://www.texasappleseed.org/sites/all/themes/zocalo_custom_zen_theme/images/tx-appleseed-header-background-pattern.png);
	background-repeat: repeat;
	border-bottom: 1px solid #CDCDCD;
	background-size: 1.5rem;
}

.masthead__logo {
	float: left;
	height: 70%;
	overflow: hidden;
	margin-left: 20px;
	margin-top: 15px;
	background-size: 100%;
}
.masthead__content {
	float: right;
	width: 80%;
	margin-top: 10px;
	margin-right: 50px;
}
masthead__title h2{
	line-height: .8;
}

.masthead_right {
	position: fixed;
	top: 10px;
	right:30px;
	padding-bottom:15px;
	font-size: 0.85em;
	align:right;
	overflow: visible !important;
}
.form-control {
	width: 200px;
	overflow: visible !important;
}
.masthead_search, .masthead_select {
	margin:8px;
	min-width:210px;
}

.masthead__disclaimer {
	font-size: 0.75em;
}

.ui-widget{
	background:white;
	font-family: "Proxima Nova", helvetica, arial, sans-serif;
	font-weight: 400;
	line-height: 1.45;
	color: #333;
	font-size: 0.85em;
	overflow: visible !important;
	z-index:9999;
}


.cartodb-tooltip-content-wrapper {
	border-radius: 2px;
	background: #fff;
	background: rgba(255, 255, 255, .9);
}


ol {

    padding: 0;
    border: 1px;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style-type: none;
    margin:auto ;
    padding: 0;
    width: 400px;
    background-color: #f1f1f1;


}

.fun-time {
    display: block;
    padding-left: 10px;
   margin-top: -10px;
color: #b30000;
    padding: 8px 16px;
    text-decoration: none;
    width: 400px
}

/* LEGEND */
.legend-title {
  font-size: 18px !important;
}

.legend-subtitle {

}

.graph-sublegend {
  width: 80px;
}

.graph-sublegend-right {
  width: 80px;
  text-align: right;
}

/* Z INDEX */

.z-400 {
  z-index: 400 !important;
}

/* MARGIN */

.margin-bottom {
  margin-bottom: 5px;
}

/* UGH, guilt */
div.cartodb-legend ul li {
  overflow: auto;
}

.leaflet-popup-tip-container {
  margin-left: -20px;
  position: absolute !important;
}

.leaflet-popup-content {
	z-index:400 !important;
}