[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
scipy = "*"
click = "*"
colorama = "*"

[dev-packages]
"pytest =" = "*"
pylint = "*"
mypy = "*"
pytest = "==3.7.4"

[requires]
python_version = "3.6"